@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@100;200;400;500;600&family=Roboto:wght@100;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 28px;
    overflow-x: hidden;
}

.wst-grid-particles {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.header {
    background-color: transparent;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 15px;
}



/* Header section */
.container {
    max-width: 100vw;
    height: 90px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    list-style: none;
}

/*header*/
.header {
    background: transparent;
    /* display: inline-block; */
    font-family: Open Sans, sans-serif;
    position: relative;
    height: 100px;
    width: 100vw;
    z-index: 1;
    padding: 15px;
}

.header-main {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-radius: 4px;
}

.header .nav-menu {
    padding: 0 15px;
}

.header .menu>.menu-item {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.header .menu>.menu-item>a {
    text-decoration: #D08CFD;
    display: block;
    padding: 12px 0;
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease;
}

.header .menu>.menu-item>a .plus {
    display: inline-block;
    height: 12px;
    width: 12px;
    position: relative;
    margin-left: 5px;
    pointer-events: none;
}

.header .menu>.menu-item>a .plus:before,
.header .menu>.menu-item>a .plus:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    background-color: #000000;
    height: 2px;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.header .menu>.menu-item:hover>a .plus:before,
.header .menu>.menu-item:hover>a .plus:after {
    background-color: #D08CFD;
}

.header .menu>.menu-item>a .plus:after {
    transform: translate(-50%, -50%) rotate(-90deg);
}

/* before */
.header .menu>.menu-item:hover>a {
    color: #D08CFD;
}

.header .menu>.menu-item>.sub-menu>.menu-item>a:hover,
/* .header .menu >*/
.menu-item:hover>a {
    color: #ffffff;
}

.header .menu>.menu-item>.sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 220px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #bc69f3;
    padding: 10px 0;
    border-top: 3px solid #d59dfa;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 992px) {
    .header .menu>.menu-item-has-children:hover>.sub-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .header .menu>.menu-item-has-children:hover>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.header .menu>.menu-item>.sub-menu>.menu-item {
    display: block;
}

.header .menu>.menu-item>.sub-menu>.menu-item>a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.header .open-nav-menu {
    height: 34px;
    width: 40px;
    margin-right: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .open-nav-menu span {
    display: block;
    height: 3px;
    width: 24px;
    background-color: #000000;
    position: relative;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    box-sizing: border-box;
}

.header .open-nav-menu span:before {
    top: -7px;
}

.header .open-nav-menu span:after {
    top: 7px;
}

.header .close-nav-menu {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.header .close-nav-menu img {
    width: 16px;
}

.header .menu-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

/* responsive */

@media (max-width: 991px) and (min-width: 320px) {
    .header .menu-overlay.active {
        visibility: visible;
        opacity: 1;
    }

    .header .nav-menu {
        position: fixed;
        right: -280px;
        visibility: hidden;
        width: 93vw;
        height: fit-content;
        margin: 12px;
        top: 0;
        overflow-y: auto;
        background-color: #1f3855;
        z-index: 1000;
        padding: 15px 0;
        transition: all 0.3s ease;
    }

    .header .nav-menu.open {
        visibility: visible;
        right: 0px;
        padding: 20px;
    }

    .header .menu>.menu-item {
        display: block;
        margin: 0;
    }

    .header .menu>.menu-item-has-children>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .menu>.menu-item>a {
        color: #D08CFD;
        padding: 12px 15px;
        border-bottom: 1px solid #333333;
    }

    .header .menu>.menu-item:first-child>a {
        border-top: 1px solid #333333;
    }

    .header .menu>.menu-item>a .plus:before,
    .header .menu>.menu-item>a .plus:after {
        background-color: #ffffff;
    }

    .header .menu>.menu-item-has-children.active>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .header .menu>.menu-item>.sub-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }

    

    .header .menu>.menu-item>.sub-menu>.menu-item>a {
        padding: 12px 45px;
        color: #ffffff;
        border-bottom: 1px solid #333333;
    }

    .header .close-nav-menu,
    .header .open-nav-menu {
        display: flex;
    }
}



/* Home Page */

.h2-heading {
    font-size: 39px !important;
    margin-top: 26px;
    font-family: system-ui;
    font-weight: lighter;
}

.h3-heading {
    font-size: 48px;
    font-family: revert;
    font-weight: lighter;
    color: #7c7b7b;
    margin-bottom: 32px;
}

.a-tag {
    z-index: 22;
    font-family: Roboto;
    cursor: pointer;
    outline: none;
    visibility: visible;
    text-align: inherit;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 13px;
    border-color: #580c8a;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 11px 25px;
    color: #580c8a;
    text-decoration: none;
    white-space: nowrap;
    width: auto;
    height: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}


.a-tag:hover {
    color: #8600ff;
    text-decoration: none;
    
}



@media only screen and (min-width: 300px) {
    .h2-heading {
        font-size: 26px ;
    }

    .h3-heading {
        font-size: 26px;
    }

    .image-slider {
        width: 100%;
        height: 90%;
        background: transparent;
        vertical-align: middle;
        margin-top: 10px;
    }
}

/*  */
/* Description */
.information {
    background: transparent;
    padding: 10px;
    margin: 20px;
}

.info-container {
    padding: 50px;
}

.info-text {
    font-size: 43px;
    font-family: Roboto;
    font-weight: lighter;
    line-height: 1.3;
}

.text-transform {
    color: #580C8A;
    font-weight: 400;
}

.info-para p {
    max-width: 100vw;
    height: auto;
    font-family: Open Sans, sans-serif;
    font-size: 17px;
    line-height: 28px;
    padding-left: 60px;
    font-size: 400;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media only screen and (min-width: 300px) {
    .info-container {
        font-size: 30px;
        padding: 10px;
    }

    .info-para p {
        padding: 5px;
    }
}





/* Service section */
.container {
    height: max-content;
}

.tab-content>.active {
    display: block;
    margin-top: 60px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: rgb(255, 255, 255);
    background-color: #d59dfa !important;
}

#data a {
    color: #000000 !important;
}

@media only screen and (min-width: 300px) {
    img.img-fluid.rounded {
        margin: 20px;
    }
}



/* Verticals */

.accordion {
    margin: 10px;
    width: 96%;
    overflow: hidden;
    background: #effbff;
    border-radius: 10px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.3);
}

.accordion-tabs {
    display: none;
}

.accordion-tabs :focus {
    outline: none;
}

.accordion-item {
    border-bottom: 1px solid #c1d7e2;
}

.accordion-item:last-child {
    border: none;
}

.accordion-item__label {
    position: relative;
    margin: 0;
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: padding 0.2s ease;
}

.accordion-item__label::after {
    content: "";
    position: absolute;
    top: -4px;
    right: 20px;
    bottom: 0;
    width: 6px;
    height: 6px;
    margin: auto;
    transform: rotate(45deg);
    opacity: 1;
    transition: opacity 0.1s ease;
    border-radius: 2px;
    border: 5px solid transparent;
    border-color: transparent #580C8A transparent;
}

.accordion-item__label:hover {
    background: #effbff;
}

.accordion-item__container {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: padding 0.2s ease, opacity 0.5s 0.15s ease;
}

.accordion-active {
    background: #effbff;
}

.accordion-active .accordion-item__label {
    padding-bottom: 0;
    color: #580C8A;
    cursor: inherit;
}

.accordion-active .accordion-item__label:hover {
    background: none;
}

.accordion-active .accordion-item__label::after {
    opacity: 0;
}

.accordion-active .accordion-item__container {
    height: auto;
    padding: 20px;
    opacity: 1;
}

.accordion-active .accordion-item__container p,
.accordion-active .accordion-item__container h4 {
    color: #7baac1;
}

.accordion-active .accordion-item__container p:first-child,
.accordion-active .accordion-item__container h4:first-child {
    margin-top: 0;
}

.accordion-active .accordion-item__container p:last-child,
.accordion-active .accordion-item__container h4:last-child {
    margin-bottom: 0;
}

.text-header-verticals {
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}

.a-tab {
    color: #580C8A;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    padding: 14px;
    background-color: #effbff;
    border: 1px solid #580C8A;
    text-decoration: none;
    border-radius: 12px;
}

.a-tab:hover {
    text-decoration: none;
    background-color: #580C8A;
    color: white;
}

.image {
    margin-top: 10px;
    width: 100%;
    height: min-content;
}

@media only screen and (max-width: 320px) {
    .text-header-verticals {
        margin-top: 10px;
        font-size: 23px;
        font-family: Roboto;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .a-tab {
        color: #580C8A;
        font-size: 16px;
        font-family: Open Sans, sans-serif;
        padding: 14px;
        background-color: #effbff;
        border: 1px solid #580C8A;
        text-decoration: none;
    }

    .a-tab:hover {
        text-decoration: none;
        background-color: #580C8A;
        color: white;
    }

    .image {
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }
}


/* Top Button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: gray;
    color: #333;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

::before {
    color: #580C8A;
}



/* Contact Page */
.paragraph {
    margin: 0 0 15px;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #333;
}

.label {
    font-weight: 700;
    font-size: 16px;
    float: none;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
    color: #333;
}

.field {
    box-sizing: border-box;
    border-radius: 2px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    height: 38px;
    width: 100%;
    line-height: 1.3;
}

.data-value {
    font-size: medium;
}

.text-head {
    padding: 90px 20px 90px;
    font-family: Poppins, sans-serif;
    font-size: 42px;
    text-align: center;
}

.field-area {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    height: 58px;
    width: 100%;
    line-height: 1.3;
}

#btn {
    padding: 10px 0 0 0;
    clear: both;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #5c5c5c;
    color: #333;
    font-size: 1em;
    padding: 10px 15px;
    margin-top: 20px;
}

@media only screen and (min-width: 320px) {

    /* Styles for devices with a screen width of 320px or larger */
    .text-head {
        padding: 20px 20px 20px;
        font-family: Poppins, sans-serif;
        font-size: 42px;
        text-align: center;
    }
}


footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}


.footer-distributed {
    background-color: #2c292f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 400 16px 'Roboto Slab', serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px Open-sans;
    margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img {
    width: 30%;
}

.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}


.footer-distributed .footer-center i {
    background-color: #ffffff;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    font-size: smaller;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    font-size: small;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #1e003c;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.fa-facebook:before,
.fa-twitter:before,
.fa-instagram:before,
.fa-linkedin:before {
    content: "\f09a";
    color: white;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}